{% extends "layout.twig" %}

{% block content %}
    {% if characters is empty %}
        <div class="bg-indigo-900 relative overflow-hidden h-screen">
            <img src="https://i.pinimg.com/originals/e2/fb/0b/e2fb0b2ac9b7e82275eacc8c2ee9c846.jpg"
                 class="absolute h-full w-full object-cover" alt="rick-and-morty background image"/>
            <div class="inset-0 bg-black opacity-25 absolute">
            </div>
            <div class="container mx-auto px-6 md:px-12 relative z-10 flex items-center py-32 xl:py-40">
                <div class="w-full font-mono flex flex-col items-center relative z-10">
                    <h1 class="font-extrabold text-5xl text-center text-white leading-tight mt-4">
                        Sorry, no characters found!
                    </h1>
                </div>
            </div>
        </div>
    {% else %}
        <div class="grid h-screen place-items-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6 w-full p-6">
            {% for character in characters %}
                <a href="/character/{{ character.id }}">
                    <div class="flex flex-col xl:flex-row shadow hover:shadow-md w-full bg-white rounded-lg overflow-hidden">
                        <img
                                class="object-cover w-200 h-48"
                                src="{{ character.image }}"
                                alt="{{ character.name }}"
                        >

                        <div class="relative p-4">
                            <h3 class="text-base md:text-xl font-medium text-gray-800">
                                {{ character.name }}
                            </h3>

                            <ul>
                                {% if character.status == 'Dead' %}
                                    <h2 class="bg-red-500 text-white font-bold rounded px-4 py-1 w-1/2">
                                        Dead
                                    </h2>
                                {% elseif character.status == 'Alive' %}
                                    <h2 class="bg-green-500 text-white font-bold rounded px-4 py-1 w-1/2">
                                        Alive
                                    </h2>
                                {% else %}
                                    <h2 class="bg-gray-500 text-white font-bold rounded px-4 py-1 w-1/2">
                                        Unknown
                                    </h2>
                                {% endif %}
                                <li><strong>Species:</strong>
                                    {{ character.species }}
                                </li>
                                <li><strong>Last known location:</strong>
                                    {{ character.location.name }}
                                </li>
                                <li><strong>First seen in:</strong>
                                    {{ character.firstepisode.name }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="flex items-center space-x-1 pb-5 ">
        <a {% if name is empty %}
            href="/characters/1"
        {% else %}
            href="/characters/1/{{ name }}"
        {% endif %}
                class="px-4 py-2 text-gray-500 bg-gray-300 rounded-md hover:bg-black hover:text-white">
            First Page
        </a>
        {% set current = page.next - 1 %}
        {% set perPage = current+10 %}
        {% if perPage >= page.pages %}
            {% set perPage = page.pages %}
        {% endif %}

        {% for i in current..perPage %}
            <a
                    {% if name is empty %}
                        href="/characters/{{ i }}"
                    {% else %}
                        href="/characters/{{ i }}/{{ name }}"
                    {% endif %}
                    class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-black hover:text-white">
                {{ i }}
            </a>
        {% endfor %}
    {% endif %}
    <a
            {% if name is empty %}
                href="/characters/{{ page.pages }}"
            {% else %}
                href="/characters/{{ page.pages }}/{{ name }}"
            {% endif %}
            class="px-4 py-2 text-gray-500 bg-gray-300 rounded-md hover:bg-black hover:text-white">
        Last Page
    </a>
    <small>Page {{ current }} / {{ page.pages }}</small>
    </div>
    </div>
{% endblock %}