{% extends "layout.twig" %}

{% block content %}
    <div class="grid grid-cols-1 gap-4 items-center w-full py-6 px-20">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-center text-sm font-light">
                            <thead class="border-b font-medium dark:border-neutral-500">
                            <tr>
                                <th scope="col" class="px-6 py-4">#</th>
                                <th scope="col" class="px-6 py-4">Name</th>
                                <th scope="col" class="px-6 py-4">Type</th>
                                <th scope="col" class="px-6 py-4">Dimension</th>
                                <th scope="col" class="px-6 py-4">Residing Characters</th>
                                <th scope="col" class="px-6 py-4"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for location in locations %}
                                <tr class="border-b dark:border-neutral-500">
                                    <td class="whitespace-nowrap px-6 py-4 font-medium">{{ location.id }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ location.name }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ location.type }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ location.dimension }}</td>
                                    <td class="whitespace-nowrap px-6 py-4">{{ location.characterIds|length }}</td>
                                    <td class="whitespace-nowrap  px-6 py-4">
                                        <a href="/location/{{ location.id }}"
                                           class="bg-gray-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                            See More
                                        </a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center space-x-1 mb-5 ">
        <a href="/locations/{{ page.prev }}"
           class="px-4 py-2 text-gray-500 bg-gray-300 rounded-md hover:bg-black hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 17l-5-5m0 0l5-5m-5 5h12"/>
            </svg>
        </a>
        {% for i in 1..page.pages %}
            <a href="/locations/{{ i }}"
                    {% if i == currentPage %}
                class="px-4 py-2 text-white bg-black rounded-md"
            {% else %}
                class="px-4 py-2 text-gray-700 bg-gray-200 rounded-md hover:bg-black hover:text-white"
                    {% endif %}>
                {{ i }}
            </a>
        {% endfor %}
        <a href="/locations/{{ page.next }}"
           class="px-4 py-2 text-gray-500 bg-gray-300 rounded-md hover:bg-black hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 7l5 5m0 0l-5 5m5-5H6"/>
            </svg>
        </a>
    </div>
{% endblock %}